h1{
    font-family: 'Times New Roman', Times, serif
}

h2{
    font-family: 'Times New Roman', Times, serif;
}
button{
    border-radius: 2px;
}
button:hover {
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.24), 0 5px 8px 0 rgba(0,0,0,0.19);
}